/* .shadow-container {
  display: inline-block;
  border: 1px solid lightgrey;
}

.form-label {
  text-align: left;
  width: 50%;
} */

.register-page {
  height: 50vh;
}
.register-form {
  box-sizing: border-box;
  height: 5rem;
}
