.bubble {
  width: 95%;
  height: 80vh;
  margin: auto;
  margin-top: 1rem;
  background: var(--primary);
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.home-about p {
  width: 70%;
  margin: 0.7rem auto;
  text-align: left;
  color: var(--light);
}

.home-about .charity-finder {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .bubble {
    flex-direction: column;
  }
  .login {
    order: 1;
  }
  .home-about {
    order: 2;
  }
  .home-about p {
    width: 90%;
    margin: auto;
  }
}
