@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

#root {
  /* position: relative; */
  min-height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav,
footer {
  background-color: #b9f1eaf6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand {
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.nav-link {
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.navbar-cf.navbar-dark .navbar-nav .nav-link {
  color: rgb(34, 142, 150);
}

.navbar-cf.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(42, 184, 194);
}

.toggle-cf:hover {
  color: rgb(42, 184, 194);
}

.nav-item {
  font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: clamp(11px, 1vw, 16px);
  font-weight: 400;
}

.vertical-center {
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
}

img {
  max-width: 100%;
  max-height: 9vh;
  min-height: 4.5vh;
}
