@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

#root {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  --footer-height: 3rem;
  --primary: #c4f2ed;
  --primary-medium: #5abfb3;
  --primary-dark: #7b9492;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav,
footer {
  background-color: var(--primary);
}

.navbar-brand {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.navbar-cf.navbar-dark .navbar-nav .nav-link {
  color: var(--primary-dark);
}

.navbar-cf.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary-medium);
}

.nav-item {
  font-size: clamp(11px, 1vw, 16px);
  font-weight: 400;
}
