@media screen and (max-width: 1028px) {
    body .column {
      width: 100%;
      flex: 30%;
    }
    body .row {
      display: flex;
      margin: auto;
    }
}

@media screen and (max-width: 768px) {
  body .column {
    width: 100%;
    flex: 40%;
  }
  body .row {
    display: flex;
    margin: auto;
  }
}


@media screen and (max-width: 600px) {
  body .column {
    width: 100%;
    flex: 50%
  }
  body .row {
    display: flex;
    margin: auto;
  }
  body .card {
    width: 8rem;
    height: 16rem;
  }
}

.column {
    width: 100%;
    flex: 20%;
  }
  
  /* Clearfix (clear floats) */
  .row {
    clear: both;
    display: flex;
  }

.card {
  width: 16rem;
  height: 16rem;
}